
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
</head>
<body>

  <h2>JUKEBOX</h2>
    <h3 p align=left>Go to Voting</h3>
     <a href="/slackvideoapp/home/"  role="button">Jukebox Vote!</a>
     <br><br>
    <div>Videos are played in order of votes</div>
    <div><iframe width="1080" height="720" src="https://www.youtube.com/embed/{{ first }}?autoplay=1&playlist={{ last }}"frameborder="0" allowfullscreen></div>
    <div>Videos are played in the order of votes


    </div>

</body>
</html>

